@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Darkgrayishblue: hsl(227, 10%, 46%);
    --Darkgray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
}

@media ( max-width: 1440px) {

}


body {
    background: url('../images/bg-pattern-top.svg') top left, url('../images/bg-pattern-bottom.svg') bottom left, var(--Darkcyan);
    font-size: 18PX;
    font-family: 'Kumbh Sans', sans-serif;
    height: calc(100vh - 1px);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h4 {
    color: var(--Verydarkdesaturatedblue);
    margin-right: 10px;
}

p {
    color: var(--Darkgray);
}

.container {
    position:relative;
    height: 375px;
    width: 325px;
    background-color:white;
    border-radius: 10px;

}

.div1 {
    background-image: url("../images/bg-pattern-card.svg");
    height: 145px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.div2 {
    height: 150px;
    border-bottom: 1px solid var(--Darkgray);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;

}

.div2 p {
    white-space: pre-line;
    font-size: 14px;
    margin-top: 10px;
}

.div2 h4 {
    margin-top: 20px;
}

.div2 span {
    color: var(--Darkgray);
}

.div3 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.div3 p {
    font-size: 14px;
}

.container img {
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 116px;
    border-radius: 100%;
    padding: 5px;
}

.attribution { font-size: 11px; text-align: center; 
    margin-top: 60px;
}

.attribution a { color: hsl(228, 45%, 44%); 
}

