@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Darkgrayishblue: hsl(227, 10%, 46%);
    --Darkgray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../images/bg-pattern-top.svg') top center, var(--Darkcyan), url('../images/bg-pattern-bottom.svg') bottom center;
    font-size: 18PX;
    font-family: 'Kumbh Sans', sans-serif;
    height: calc(100vh - 1px);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: var(--Verydarkdesaturatedblue)
}

p {
    color: var(--Darkgray);
}

.container {
    position:relative;
    height: 375px;
    width: 325px;
    background-color:white;
    border-radius: 10px;
    margin-bottom: 20px;

}

.div1 {
    background-image: url("../images/bg-pattern-card.svg");
    height: 145px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.div2 {
    height: 150px;
    border-bottom: 1px solid var(--Darkgrayishblue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.div3 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container img {
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 116px;
    border-radius: 100%;
    padding: 5px;
}